@page
@model ContactUSModel
@{ ViewData["Title"] = "RedHawks Digital Library"; }
<h2>@ViewData["Title"]</h2>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="~/css/Contact_info.css" rel="stylesheet" />
<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Our Team</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure>
                        <img src="~/Logo/teja.jpeg" 
                             class="img-responsive"
                             alt="" />
                        
                    </figure>
                    <h3><a href="blank">Raviteja</a></h3>
                    <p>CEO & Founder</p>
                    <p>Email: <a href="mailto:rpoosala@seattleu.edu">rpoosala@seattleu.edu<a></p>
                    <ul class="follow-us clearfix">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure>
                        <img src="~/Logo/darshan.jpeg"
                             class="img-responsive"
                             alt="" />
                    </figure>
                    <h3><a href="blank">Darshan</a></h3>
                    <p>CFO & Co-Founder</p>
                    <p>Email: <a href="mailto:dradadiya@seattleu.edu">dradadiya@seattleu.edu<a></p>
                    <ul class="follow-us clearfix">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure>
                   <img src="~/Logo/Meryll.jpeg"
                        class="img-responsive"
                        alt="" />
                    </figure>
                    <h3><a href="blank">Meryll Cruz</a></h3>
                    <p>Developer</p>
                    <p>Email: <a href="mailto:mcruz3@seattleu.edu">mcruz3@seattleu.edu<a></p>
                    <ul class="follow-us clearfix">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight">
                    <figure>
                        <img src="~/Logo/Twinkle.jpeg"
                             class="img-responsive"
                             alt="" />
                     
                    </figure>
                    <h3><a href="blank">Twinkle</a></h3>
                    <p>Director</p>
                    <p>Email: <a href="mailto:thingu@seattleu.edu">thingu@seattleu.edu<a></p>
                    <ul class="follow-us clearfix">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>