@page
@model PrivacyModel
@{
    ViewData["Title"] = "RedHawks Digital Library";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>
        Given modern society’s need to control its ever-increasing body of information, digital libraries will be among the most important and influential institutions of this century. With their versatility, accessibility, and economy, these focused collections of everything digital are fast becoming the banks in which the world’s wealth of information is stored. Team Redhawks will be creating a digital library consisting of a collection of selected Computer Science books. Our product invites all levels of expertise who share a common interest in the field of computing.
        Team Redhawks will be gathering eBooks interrelated to the discipline and will be providing details including, but not limited to, description, author(s), publication date, copyright, and etc. Our main objective is to collect these notable resources and have them readily available on one platform.
    </p>

    <h1 class="display-4">Who we are?</h1>
    <p>
        We are team of four from different parts of the world pursuing Masters in computer Science. While we are working on various individual projects and preparing for our professional career we found pain points in reaching our goals with in deadline. We prepared our background and done a groundwork how to overcome our situations. Just like us there are many students and professional employees who worries about how to approach their goals. Keeping this as our vision , we implimented this project to provide digital liberary to the visitors of our website.
    </p>

</div>


<head>
    <meta charset="UTF-8" />
    <title>Our Team Section</title>
    <link href="~/css/about_bio.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <h1 >Our Team</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Logo/teja.jpeg" alt="Team_image" />
                </div>
                <h3>Raviteja</h3>
                <p><a href="mailto:rpoosala@seattleu.edu">rpoosala@seattleu.edu<a></p>
                <p class="role">UI developer</p>
                <p>
                    I am from Hyderabad,India studing Masters in Computer Science at Seattlev University. My hobbies are swimming and cooking.
                </p>
            </div>

            <div class="team_member">
                <div class="team_img">
                    <img src="~/Logo/darshan.jpeg" alt="Team_image" />
                    
                </div>
                <h3>Darshan</h3>
                <p><a href="mailto:dradadiya@seattleu.edu">dradadiya@seattleu.edu<a></p>
                <p class="role">UI developer</p>
                <p>
                    I am from Ahmedabad, India studing Masters in Computer Science at Seattle University. My hobbies are Reading, Travelling and Creating new things.
                </p>
            </div>


        </div>

        <div class="team">
            <div class="team_member">
                <div class="team_img">
                   <img src="~/Logo/Twinkle.jpeg" alt="Team_image" />
                </div>
                <h3>Twinkle</h3>
                <p><a href="mailto:thingu@seattleu.edu">thingu@seattleu.edu<a></p>

                <p class="role">Backend Developer</p>
                <p>
                    I am from the Mumbai,India studying Masters in Computer Science  at Seattle University. My hobbies include reading, travelling and explaoring new things.

                </p>
            </div>

            <div class="team_member">
                <div class="team_img">
                    <img src="~/Logo/Meryll.jpeg" alt="Team_image" />
                </div>
                <h3>Meryll</h3>
                <p><a href="mailto:mcruz3@seattleu.edu">mcruz3@seattleu.edu<a></p>
                <p class="role">Backend developer</p>
                <p>
                    I am from the island of Guam, studying Masters in Computer Science at Seattle University. My hobbies include playing with dogs and going to the gym.
                </p>
            </div>

        </div>
    </div>
</body>